<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <br>
    <p>You are currently signed in as: {{user}}</p>
    <br>
    <span>Click here to </span><a href="/logout">signout</a>
  </body>
</html>
